.input-field {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: none;
    background-color: #1e1e1e;
    color: white;
}

.search-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ff6c00;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #ff8c1a;
    }

.player-card {
    background-color: #1e1e1e;
    padding: 1rem;
    margin-top: 1.5rem;
    border: 1px solid #444;
    border-radius: 8px;
}

    .player-card h3 {
        color: #ff6c00;
        margin-bottom: 0.5rem;
    }

    .player-card p {
        margin: 0.25rem 0;
    }

.delete-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ff3b3b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .delete-button:hover {
        background-color: #ff5c5c;
    }

.player-info-container {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #2b2b2b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

    .player-info-container h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #ff6c00;
    }


/*Visual Graf*/
.page-title {
    margin-bottom: 20px;
    color: #fff;
}

.chart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 8px;
}

.player-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.player-info {
    display: flex;
    align-items: center;
    width: 200px; /* Adjust as needed */
    margin-right: 10px;
    color: #fff;
}

.player-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.player-name {
    font-weight: bold;
}

.elo-bar {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.elo-label {
    font-weight: bold;
}
