@using CSStatsTracker.Entities;
@using CSStatsTracker.Services.PlayerStats
@inject IPlayerStatsService PlayerStatsService;

@page "/playerinfo"

<h3>PlayerInfo</h3>

<input @bind="playerName" placeholder="Indtast spiller info" />
<button @onclick="SearchPlayer">Hent spiller</button>

@code {
    private Player playerInfo = new();
    private string playerName = string.Empty;


    private async void SearchPlayer()
    {
        playerInfo = await PlayerStatsService.GetPlayerInfoAsync(playerName);
    }
}
